<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_TOKEN</key>
	<string>eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwidXNlcm5hbWUiOiJ0ZXN0IiwibGV2ZWwiOjUsImlhdCI6MTcwMjcwMTY3Mn0.vCnswDREM_LFO0d4M95y-M_IKymRXIqKngXlq2dsShzzpCC-jnhqqXC52ygwMLKi8uEqr6wqQaPC30CUyxyW_972B8hUg7TIjRvfMrh029VrxQ_0KXhNjJTXBDzWEORoNJWYyk3w2GFi6fGDI3VmbFw25bvZtEYg18167c-piuj2rvM6Zla_TIfoCSxMM4wZXyH10xEcujlzvMz2_JkblrS3lrxfAf_4bsp9Ht23AF3EpMOyNz8bzQCGVpQ94mQCYbfSd1kikEBheuaJMQNGRbhsV3f-A6vII5DTAoT9DdDhBU-6mdPB6dHZEV1A9zaF-09A691f2fJeqS_ClWf8fKR8VnJTsIjarBXPdibfsBVBet12m7k4BCc-miZ-5SUYK1HiweJ0ZjFSpETGutmngBx8We4M0gh2phRh5RSeH3w3EXPj3njkzLRCPUvLAhphh5wn9xiQpoqn0SmXI9hIcniPZsv0izgQoweGYRb4j1n0CiNE08_Yhe9ZvPdzoiuHmelTYiXNrOxmHCCFo7HVIRJIS3j8IKsufQqMchi7MO6PlQLLr5ob3CwcXXhOerh5SW5YwmKoFIYjQjKifRMzJQ5jBtT1COVbxAbkv53_qaSs7hQBrt58nyw9dobMBhhFXGKaqRhfx50YZYG2o8Id_pecPdG9XVQirKTuNfX_grs</string>
</dict>
</plist>
